.App {
  text-align: center;
  margin: 50px 50px;
  border:1px solid black
}
input{
  padding: 5px 3px;
  width: 40%;
}

button{
  background-color: aquamarine;
  padding: 5px 5px;
  color: black;
}
.todo{
  display: flex;
  align-items: center;
  justify-content: center;
}